/* Styles for screens smaller than 959px */
@media (max-width: 600px) {
  #login .card-container {
    max-width: 300px;
  }

  .card {
    height: auto;
  }

  .card form .input-container .input-line {
    display: flex;
    flex-direction: row;
    background: rgb(187, 187, 187, 0.1);
    padding: 15px 15px;
    width: 250px;
    height: 75px;
    position: relative;
  }
}
